body{
    background: url(../img/background.jpg) repeat-x 0 0;
}
/* 头部 start */
#top{
    padding-top: 40px;
    width:1170px;
    height:150px;
}
#top_right{

}
#href a{
    color: #666666;
}
#search{
    margin-top: 10px;
    width:270px;
}
/* 头部 end */

/* 导航栏 start */
#nav{
    background: url(../img/nav.jpg) repeat-x 0 0;
}
#nav ul li{
    width:167px;
    text-align: center;
}
.dropdown:hover .menu-top {
    display: block;
}

.dropdown-submenu{
    position:relative;
}

.dropdown-submenu > .dropdown-menu{
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu{
    display:block;
}

.dropdown-submenu > a:after{
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}

.dropdown-submenu:hover > a:after{
    border-left-color:#ffffff;
}

.dropdown-submenu .pull-left{
    float:none;
}

.dropdown-submenu.pull-left > .dropdown-menu{
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}
/* 导航栏 end */



/* 图片展示 start */
#picture{
    margin-top: -20px;
    width:1170px;
}
#picture img{
    width:100%;
    height: 400px;
}
/* 图片展示 end */


/* 正文内容 start */
#content{
    width: 1170px;
}
.content_box{
    width: 550px;
    height: 280px;
    margin-top: 15px;
    padding-top:15px;
    padding-right: 40px;
    background: url(../img/c_background.png) no-repeat 0 0;
    background-size: 600px auto;
}
.content_box span{
    font-size: 20px;
    color: #0b3464;
    padding-left: 50px;
}
.more{
    color: #fff;
    margin-left: 290px;
}
.more:hover{
    color: red;
    text-decoration: none;
}
.content_text{
    padding-top: 20px;
}
.content_text ul li{
    padding-top: 1px;
    padding-left: 20px;
    font-size: 15px;
    background: url(../img/list.png) no-repeat 0 0;
    background-size:15px 20px;
}
.content_text li{
    margin-top: 15px;
}
.content_box_text:hover{
    color: red;
    text-decoration: none;
}
/* 正文内容 end */


/* 新闻 start */
#news{
    width:1170px;
}
#news_center{
    width: 512px;
    height: 209px;
    padding-top: 15px;
    padding-left: 35px;
    background-image: url("../img/newsbox_bg.jpg");
}
/* 新闻 end */


/* 信息 start */
#info{
    width: 1170px;
    height:140px;
    border: solid 2px #eab51f;
    margin-top: 10px;
    padding-right: 0;
}
#info_img{
    width:45px;
}
.info_content{
    margin-top: 10px;
    margin-left: 240px;
}
#info_switch {
    margin-left: 180px;
    padding-top: 2px;
}
#info_switch p{
    padding-top: 12px;
    padding-left: 50px;
    padding-right: 35px;
    height: 44px;
    font-weight: 800;
    background: url(../img/switch.png) no-repeat 0 0;
}
#info_switch p:hover{
    background: url(../img/switch_h.png) no-repeat 0 0;
}
/* 信息 end */


/* 外链 start */
#flink{
    width:1170px;
    height:50px;
    background-color: #3988B3;
    margin-top: 2px;
    padding-left: 250px;
    padding-bottom: 5px;
}
.select{
    width: 200px;
    height:35px;
    margin-left: 20px;
}
/* 外链 end */


/* 底部 start */
#bottom{
    margin-top: 1px;
    width:1170px;
    height:140px;
    background-color: #3988B3;
}
#bottom .row p{
    margin-top: 5px;
}
/* 底部 end */




/* 正文 start */
#text{
    margin:20px auto;
    width:500px;
}
/* 正文 end */


